body {
    margin: 0; 
    padding: 0px; 
    background-color: #bf7fc5;
    color: #6e28d9;  
    text-align: center;
    font-family: "Arial", sans-serif;
    }
  
    .homePage {
      margin: 0; 
      padding: 0px;
      background-image: url('../image/yiddyheader.jpg');
      background-size: cover; 
      background-position: top; 
      background-repeat: no-repeat; 
      color: #6e28d9;
      text-align: center;
      font-family: "Arial", sans-serif;
    }
    
    /* Style for the first header */
    header.TitleHeader {
      padding: 0px;
      text-align: center;
      margin-top: 5vh;
      font-size: 40px;
    }
    
    /* Style for the signup and login links */
    header.AuthenticationLinks {
      padding: 10px;
      margin-right: 20px;
      text-align: center;
      height: 100vh;
    }
  
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 168px;
      height: 112px;
      border-radius: 70%;
      opacity: 0.8;
    }

    .MainForm {
        display: flex;
        flex-direction: row;
        align-items: center; 
        width: 500px;
        margin: 0 auto;
        padding: 20px;
    }
    
    .MainForm input[type="text"] {
        width: calc(100% - 10px); 
        height: 36px;
        font-size: 16px;
        
    }

    .MainForm button {
        margin-left: 10px; 
    }

    a.first-link {
        margin-right: 10px; 
    }
    
    .specialUl {
      list-style: none;
      padding: 0;
      margin: 5;
      width: 300px; 
      margin: 20px auto; 
      padding: 20px; 
      border: 2px solid #000000; 
      border-radius: 8px;
      text-transform: capitalize;

  }